.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.toolbar {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
#csv-selector {
  padding: 5px;
  font-size: 14px;
}

#wdr-pivot-view #wdr-grid-view div.zero_value {
  color: red;
}

#wdr-pivot-view #wdr-grid-view div.distinguish_row_1 {
  background-color: #eff9ff;
}

#wdr-pivot-view #wdr-grid-view div.distinguish_row_2 {
  background-color: #cceeff;
}
